.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: var(--dl-color-gray-black);
}
.home-image {
  top: -2px;
  left: 0px;
  right: 0px;
  width: 1522px;
  height: 1113px;
  margin: auto;
  z-index: 90;
  position: absolute;
  object-fit: cover;
  margin-right: auto;
  border-top-right-radius: var(--dl-radius-radius-radius4);
}
.home-image1 {
  top: 36px;
  left: 0px;
  right: 0px;
  width: 652px;
  height: 152px;
  margin: auto;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  border-top-right-radius: var(--dl-radius-radius-radius4);
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  justify-content: center;
}
.home-link {
  top: 96px;
  color: #ff7f7f;
  right: 195px;
  position: absolute;
  font-size: 20px;
  text-align: right;
}
.home-link1 {
  top: 143px;
  color: #4567c1;
  right: 195px;
  position: absolute;
  text-align: right;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: 200px;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.home-dropdown-arrow {
  transition: 0.3s;
}
.home-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.home-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-unity-portfolio {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-navlink {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.home-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-navlink1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.home-container2 {
  width: 561px;
  height: 421px;
  z-index: 100;
  margin-top: 120px;
}
.home-container3 {
  display: contents;
}
@media(max-width: 1600px) {
  .home-image {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-link {
    top: 95px;
    right: 90px;
  }
  .home-link1 {
    top: 142px;
    right: 90px;
  }
  .home-dropdown {
    margin-top: 200px;
  }
  .home-text {
    color: #229eff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .home-dropdown-list {
    display: none;
  }
}
@media(max-width: 1200px) {
  .home-image {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-link {
    top: 141px;
    right: 56px;
  }
  .home-link1 {
    top: 188px;
    right: 56px;
  }
  .home-dropdown-list {
    display: none;
  }
}
@media(max-width: 991px) {
  .home-container {
    align-self: center;
    align-items: center;
  }
  .home-image {
    left: -192px;
  }
  .home-link {
    top: 207px;
    right: 51px;
  }
  .home-link1 {
    top: 254px;
    right: 51px;
  }
  .home-unity-portfolio {
    z-index: 100;
    font-size: 14px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 500;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
}
@media(max-width: 767px) {
  .home-image1 {
    width: 510px;
    height: 118px;
  }
  .home-link {
    top: 173px;
    right: 56px;
  }
  .home-link1 {
    top: 208px;
    right: 56px;
  }
  .home-dropdown {
    margin-top: 150px;
  }
  .home-dropdown-list {
    display: none;
    border-color: #000000;
    background-color: #4580bf;
  }
  .home-unity-portfolio {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .home-navlink {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .home-navlink1 {
    color: #ffffff;
  }
}
@media(max-width: 479px) {
  .home-image {
    left: -478px;
  }
  .home-image1 {
    width: 311px;
    height: 71px;
    padding-right: 0px;
  }
  .home-link {
    top: 158px;
    right: 33px;
  }
  .home-link1 {
    top: 195px;
    right: 33px;
  }
  .home-dropdown {
    margin-top: 120px;
  }
}
